<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

    <title>Image Processing with Neural Style</title>

    <style>
        .dropbtn {
                background-color: #3e8e41;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 
                0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: inline-block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: inline-block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Image Processing with Neural Style</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
            </div>
            <h4>Example stylized images:</h4>
            <div id="banner" class="mt-4" style="overflow: hidden; display: flex; justify-content:space-around;">
                <div class="" style="max-width: 20%; max-height: 20%;">
                    <img id="example" src="" class="example-img" width="300" height="200">
                </div>
                <div class="" style="max-width: 20%; max-height: 20%;">
                    <img id="example" src="" class="example-img" width="300" height="200">
                </div>
                <div class="" style="max-width: 20%; max-height: 20%;">
                    <img id="example" src="" class="example-img" width="300" height="200">
                </div>
            </div>
            <br />
            <br />
            <div class="dropdown">
                <button class="dropbtn">
                    Style List
                </button>
                <div class="dropdown-content">
                    <a href="#">
                        <img src=
                        "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg"
                        width="200" height="200"> Van Gogh Starry Night</a>
                    <a href="#">
                        <img src=
                        "https://www.edvardmunch.org/images/paintings/the-scream.jpg"
                        width="200" height="200"> Edvard The Scream</a>
                    <a href="#">
                        <img src=
                        "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Tsunami_by_hokusai_19th_century.jpg/1920px-Tsunami_by_hokusai_19th_century.jpg"
                        width="200" height="200"> Japanese The Great Wave</a>

                    <a href="#">
                        <img src=
                        "https://raw.githubusercontent.com/xunhuang1995/AdaIN-style/master/input/style/antimonocromatismo.jpg"
                        width="200" height="150"> Antimonocromatismo</a>
                    <a href="#">
                        <img src=
                        "https://raw.githubusercontent.com/xunhuang1995/AdaIN-style/master/input/style/flower_of_life.jpg"
                        width="200" height="200"> Flower_of_life</a>
                    <a href="#">
                        <img src=
                        "https://raw.githubusercontent.com/xunhuang1995/AdaIN-style/master/input/style/sketch.png"
                        width="200" height="200"> Sketch</a>
                    <a href="#">
                        <img src=
                        "https://raw.githubusercontent.com/xunhuang1995/AdaIN-style/master/input/style/mondrian.jpg""
                        width="200" height="200"> Mondrian</a>
                </div>
            </div>
            <br />
            <div class="mb-3">
                <label for="style" class="form-label">Choose a Given Style</label>
                <select class="form-select" id="style" name="style" required>
                    <option value="">Select a style...</option>
                    <option value="49687">Van Gogh Starry Night</option>
                    <option value="49686">Edvard The Scream</option>
                    <option value="49685">Japanese The Great Wave</option>
                    <option value="49684">Picasso</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div id="progress-container" class="mt-4" style="display: none;">
            <h4>Processing...</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div id="result-container" class="mt-4" style="display: none;">
            <h4>Result</h4>
            <img id="result-image" src="" alt="Processed Image" class="img-fluid">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#upload-form').on('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(this);
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        var jsonResponse = JSON.parse(response);
                        console.log(response);
                        console.log(jsonResponse.result);
                        if (jsonResponse.result === 'OK') {
                            $('#upload-form').hide();
                            $('#progress-container').show();
                            console.log(jsonResponse.filterjob_id);
                            getProgress(jsonResponse.filterjob_id);
                        } else {
                            alert('An error occurred while processing the image. Please try again.');
                        }
                    },
                    error: function () {
                        alert('An error occurred while uploading the image. Please try again.');
                    }
                });
            });
            
            function getProgress(filterjob_id) {
            $.ajax({
                url: `/progress/${filterjob_id}`,
                type: 'POST',
                success: function (response) {
                    var jsonResponse = JSON.parse(response);
                    if (jsonResponse.result === 'OK') {
                        const progress = jsonResponse.progress;
                        $('.progress-bar').css('width', `${progress}%`).attr('aria-valuenow', progress);
                        if (jsonResponse.status === 'done') {
                            $('#progress-container').hide();
                            $('#result-container').show();
                            $('#result-image').attr('src', jsonResponse.url);
                        } else {
                            setTimeout(function () {
                                getProgress(filterjob_id);
                            }, 20000);
                        }
                    } else {
                        alert('An error occurred while processing the image. Please try again.');
                    }
                },
                error: function () {
                    alert('An error occurred while fetching the progress. Please try again.');
                }
            });
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

